<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#"><img src="{{ url_for('static', filename='img/logo-consultorio.png') }}" alt="" class="nav-logo"></a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/home.png') }}" alt="" class="nav-home"></a></li>
            </ul>
        </nav>
    </header>

    <div class="login-container">
        <div class="login-form">
            <h1>Iniciar sesión</h1>
            <form action="{{ url_for('login') }}" method="POST">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Iniciar sesión</button>
            </form>
            <h2>¿No tienes cuenta? <a href="{{ url_for('register') }}">Crear cuenta</a></h2>
        </div>
        <div class="login-image">
            <img src="{{ url_for('static', filename='img/login.jpeg') }}" alt="Imagen de login">
        </div>
    </div>
    <footer>
        <p></p>
    </footer>
</body>
</html>