.turno-disponible {
    background-color: #28a745; /* Verde */
    color: white;
    cursor: pointer;
    padding: 5px;
    margin: 5px 0;
}

.turno-seleccionado {
    background-color: #dc3545; /* Rojo */
    color: white;
    cursor: not-allowed;
    padding: 5px;
    margin: 5px 0;
}

.turno-disponible:hover {
    background-color: #218838; /* Verde oscuro */
}

/* Para los días seleccionados y desactivados */
.calendario-grid div.disponible {
    background-color: #2196F3;
    color: white;
}

.calendario-grid div.seleccionado {
    background-color: #1976D2;
    color: white;
}

.calendario-grid div.desactivado {
    background-color: #e0e0e0;
    color: #bdbdbd;
    cursor: not-allowed;
}

/* Estilos para la cuadrícula del calendario */
#dias-atencion {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columnas para los días de la semana */
    grid-gap: 5px;
    margin-top: 20px;
}

#dias-atencion div {
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#dias-atencion div.disponible {
    background-color: #2196F3;
    color: white;
}

#dias-atencion div.seleccionado {
    background-color: #1976D2;
    color: white;
}

#dias-atencion div.desactivado {
    background-color: #e0e0e0;
    color: #bdbdbd;
    cursor: not-allowed;
}

#dias-atencion div:hover {
    background-color: #e1f5fe;
}

#cancelar-turno-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #FF5722; /* Naranja */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cancelar-turno-btn:hover {
    background-color: #D84315;
}
