/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Títulos */
h2 {
    text-align: center;
    color: #1e90ff; /* Azul */
    margin-top: 30px;
}

/* Barra de navegación */
a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #1e90ff;
    font-size: 18px;
    text-align: center;
}

/* Tabla de pacientes y doctores */
.table-container {
    margin-top: 30px;
    overflow-x: auto;
    margin-bottom: 40px;
}

h3 {
    text-align: center;
    color: #007bff; /* Azul más oscuro */
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #4fa3f7; /* Celeste */
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e1e9f2; /* Color al pasar el ratón */
}

/* Botones */
button {
    background-color: #1e90ff; /* Azul */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

button:hover {
    background-color: #007bff; /* Azul más oscuro */
}
